<h1>Blog List <small><a href="#" ng-click='changeCols(4)'>Change</small></h1>
<div class='row'>
	<div class='col-sm-6'>
		<input type='text' ng-model='query' class='form-contol' placeholder='Filter' />
	</div>
</div>
<span ng-if='items.length ==0'>Posts coming soon</span>


<div class=row dir-paginate='items in colItems | filter: query | itemsPerPage: 4 as mainItems' pagination-id="main-content">
	<div class="{{ cssClass }}" ng-repeat='post in items'>
		<div class="thumbnail">
		<img src="..." alt="...">
			<div class="caption">
			<h3>{{ post.title }}</h3>
			<p>{{ post.text }} {{ post.publishDate }}</p>
			<p><a ng-href='#' class='btn btn-primary' confirm-click='Are you ready?' confirmed-click='goToItem(post)'/>View</a></p>
			</div>
		</div>
	</div>
</div>

<span ng-if='mainItems.length == 0'>No Items Foun</span>
<dir-pagination-controls ng-hide='query.length > 0' pagination-id="main-content"> </dir-pagination-controls>

<!-- <div class="row">
  <div class="col-sm-6 col-md-4" ng-repeat='post in items'>
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>{{ post.title }}</h3>
        <p>{{ post.text }} {{ post.publishDate }}</p>
        <p><a ng-href='#' class='btn btn-primary' confirm-click='Are you ready?' confirmed-click='goToItem(post)'/>View</a></p>
      </div>
    </div>
  </div>
</div> -->